// Base settings for all themes that can optionally be
// overridden by the super-theme

// Typography
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

// Colors
$red: #FE2C2C;
$yellow: #FED253;
$green: #4AB396;
$blue: #048ED9;
$pink: #FBB3B2;
$purple: #431261;
$darkGrey: #141414;
$lightGrey: #EEEEEE;
$middleGrey: rgba(0,0,0,.5);


// Default background of the presentation
$backgroundColor: #EEEEEE;

// Primary/body text
$mainFont: 'PT Sans', sans-serif;
$mainFontSize: 1.6rem;
$mainColor: #141414;

// Vertical spacing between blocks of text
$blockMargin: 1rem;

// Headings
$headingMargin: 0 0 $blockMargin*2 0;
$headingFont: 'Cairo', sans-serif;
$headingColor: $darkGrey;
$headingLineHeight: 1;
$headingLetterSpacing: normal;
$headingTextTransform: normal;
$headingTextShadow: none;
$headingFontWeight: 600;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 3.29em;
$heading2Size: 2.47em;
$heading3Size: 1.86em;
$heading4Size: 1.4em;

$codeFont: monospace;

// Links and actions
$linkColor: $purple;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: $yellow;
$selectionColor: $lightGrey;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
	background: $backgroundColor;
}
