/*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*
 *                                           *
 *           ZoCom Presenter Theme           *
 *               version 1.0	             *
 *                                           * 
 *.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*.*/


/*********************************************
 * GLOBAL STYLES
 *********************************************/

@import "./settings";

.reveal-viewport {
	@include bodyBackground();
	background-color: $backgroundColor;
}

.reveal {
	font-family: $mainFont;
	font-size: $mainFontSize;
	font-weight: normal;
	color: $mainColor;
}

.reveal ::selection {
	color: $selectionColor;
	background: $selectionBackgroundColor;
	text-shadow: none;
} 

.reveal ::-moz-selection {
	color: $selectionColor;
	background: $selectionBackgroundColor;
	text-shadow: none;
}

.reveal .slides section,
.reveal .slides section>section {
	line-height: 1.4;
	font-weight: inherit;
}

/*********************************************
 * HEADERS
 *********************************************/

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	margin: $headingMargin;
	color: $headingColor;

	font-family: $headingFont;
	font-weight: $headingFontWeight;
	line-height: $headingLineHeight;
	letter-spacing: $headingLetterSpacing;

	text-transform: $headingTextTransform;
	text-shadow: $headingTextShadow;

	word-wrap: break-word;
}

.reveal h1 {font-size: $heading1Size; font-weight: 700; }
.reveal h2 {font-size: $heading2Size; }
.reveal h3 {font-size: $heading3Size; }
.reveal h4 {font-size: $heading4Size; }

.reveal h1 {
	text-shadow: $heading1TextShadow;
}


/*********************************************
 * OTHER
 *********************************************/

.reveal p {
	margin: $blockMargin 0;
	line-height: 1.3;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
	max-width: 85%;
	max-height: 85%;
	border: none;
}

.reveal img {
	max-height: 50vh;
	border-radius: .2rem;
}

.reveal strong,
.reveal b {
	font-weight: bold;
}

.reveal em {
	font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
	display: inline-block;
	text-align: left;
	margin: 0 0 0 1em;
}

.reveal ol {
	list-style-type: decimal;
}

.reveal ul {
	list-style-type: disc;
}

.reveal ul ul {
	list-style-type: square;
}

.reveal ul ul ul {
	list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
	display: block;
	margin-left: 40px;
}

.reveal li {
	margin: .5rem 0;
}

.reveal dt {
	font-weight: bold;
}

.reveal dd {
	margin-left: 40px;
}

.reveal blockquote {
	display: block;
	position: relative;
	width: 100%;
	margin: $blockMargin auto;
	padding: 3rem;
	box-sizing: border-box;
	font-size: 3rem;
	font-style: italic;
	position: relative;

	p {
		padding: 0 2rem;
	}

	&::before{
		font-family:Arial;
		content: "\201C";
		color: $middleGrey;
		font-size:3em;
		position: absolute;
		left: 1rem;
		top: .2rem;
	}
	  
	&::after{
		font-family:Arial;
		content: "\201D";
		color: $middleGrey;
		font-size: 3em;
		position: absolute;
		right: 2.5rem;
		bottom: -2.4rem;
	}

	span {
		display: block;
		padding: 0;
		transform: translateY(3rem);
		opacity: .8;
		font-size: 2rem;

		&::before {
			display: inline-block;
			content: "";
			border-top: .14rem solid black;
			width: 3rem;
			margin: 0 1rem;
			transform: translateY(-.6rem);
		}
	}

	p:first-child,
	p:last-child {
		display: inline-block;
	}
}

.reveal q {
	font-style: italic;
}

.reveal pre {
	display: block;
	position: relative;
	width: 90%;
	margin: $blockMargin auto;
	text-align: left;
	font-size: 1em;
	font-family: $codeFont;
	line-height: 1.3em;
	border-radius: .25rem;
	word-wrap: break-word;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

.reveal code {
	font-family: $codeFont;
	text-transform: none;
}

.reveal pre code {
	display: block;
	padding: 1rem;
	border-radius: .25rem;
	overflow: auto;
	max-height: 400px;
	word-wrap: normal;
}

.reveal table {
	margin: auto;
	border-collapse: collapse;
	border-spacing: 0;
}

.reveal table th {
	font-weight: bold;
}

.reveal table th,
.reveal table td {
	text-align: left;
	padding: 0.2em 0.5em 0.2em 0.5em;
	border-bottom: 1px solid;
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
	text-align: center;
}

.reveal table th[align="right"],
.reveal table td[align="right"] {
	text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
	border-bottom: none;
}

.reveal sup {
	vertical-align: super;
	font-size: smaller;
}

.reveal sub {
	vertical-align: sub;
	font-size: smaller;
}

.reveal small {
	display: inline-block;
	font-size: 0.6em;
	line-height: 1.2em;
	vertical-align: top;
}

.reveal small * {
	vertical-align: top;
}

.reveal img {
	margin: $blockMargin 0;
}


/*********************************************
 * LINKS
 *********************************************/

.reveal a {
	color: $linkColor;
	text-decoration: none;
	transition: color .15s ease;
}

.reveal a:hover {
	color: $linkColorHover;
	text-shadow: none;
	border: none;
}

.reveal .roll span:after {
	color: #fff;
	background: darken( $linkColor, 15% );
}


/*********************************************
 * Frame helper
 *********************************************/

.reveal .r-frame {
	border: 4px solid $mainColor;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal a .r-frame {
	transition: all .15s linear;
}

.reveal a:hover .r-frame {
	border-color: $linkColor;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}


/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/

.reveal .controls {
	color: white;
}


/*********************************************
 * PROGRESS BAR
 *********************************************/

.reveal .progress {
	background: rgba(0,0,0,0.2);
	color: $linkColor;
}


/*********************************************
 * ZOCOM SLIDE BACKGROUND TEMPLATES
 *********************************************/

.reveal .backgrounds {

	.red    	{ background-color: $red; }
	.yellow 	{ background-color: $yellow; }
	.green  	{ background-color: $green; }
	.blue   	{ background-color: $blue; }
	.pink   	{ background-color: $pink; }
	.purple 	{ background-color: $purple; }
	.lightgrey  { background-color: $lightGrey; }
	.darkgrey   { background-color: $darkGrey; }

	.intro {
		background-color: $red;
		background-image: url('/assets/bg-o-br.svg'),  url('/assets/logo-white.svg');
		background-repeat: no-repeat, no-repeat;
		background-size: auto, 10rem;
		background-position: right bottom, center 92%;
	}

	.basic {
		background-image: url('/assets/bg-o-bl-white.svg'), url('/assets/bg-o-white.svg');
		background-repeat: no-repeat, no-repeat;
		background-position: bottom left, 80% 30%;
		background-size: 40%, 20%;
	}

	.complex {
		background-image: url('/assets/bg-o-br.svg'), url('/assets/bg-dots-white.svg');
		background-repeat: no-repeat, no-repeat;
		background-position: bottom right, 5rem 5rem;
	}

	.code {
		background-color: $purple;
		background-image: url('/assets/code.png'), url('/assets/bg-o-big-bl.svg');
		background-repeat: no-repeat, no-repeat;
		background-position: bottom right, bottom left;
		background-size: 40%, auto;
	}

	.task {
		background-color: $yellow;
		background-image: url('/assets/panic.png'), url('/assets/bg-o-big-bl.svg');
		background-repeat: no-repeat, no-repeat;
		background-position: 80% bottom, bottom left;
		background-size: 32%, auto;
	}

	.discussion {
		background-color: $green;
		background-image: url('/assets/bears.png'), url('/assets/bg-o-big-bl.svg');
		background-repeat: no-repeat, no-repeat;
		background-position: left bottom, bottom left;
		background-size: 42%, 60% auto;
	}
}

/*********************************************
 * ZoCom SLIDE TEMPLATES COLOR TWEEKS
 *********************************************/

.reveal .red,
.reveal .green,
.reveal .blue,
.reveal .purple, 
.reveal .darkgrey,
.reveal .intro,
.reveal .code,
.reveal .discussion {
	
	h1, h2, h3, h4, p, li { 
		color: white;
	}

	blockquote {

		span {
			&::before {
				border-top: .14rem solid white;
			}
		}

		&::before{
			color: rgba(255,255,255,.8);
		}
		  
		&::after{
			color: rgba(255,255,255,.8);
		}
	}
}

/*********************************************
 * ZOCOM SLIDE TEMPLATES LAYOUT TWEEKS
 *********************************************/

.reveal .code,
.reveal .task {
	
	h1, h2, h3, h4, p, li { 
		max-width: 50%;
		text-align: left;
	}
}

.reveal .discussion {
	
	h1, h2, h3, h4, p, li { 
		max-width: 50%;
		text-align: left;
		transform: translateX(100%);
	}
}

.reveal .intro {
	h1 { margin: 4rem 0 1rem 0; }
	h2 { margin: 2rem 0; }
	h6 { 
		font-size: 1.6rem; 
		margin-top: 6rem; 
	
		> a {
			text-decoration: none;
			font-style: italic;
			font-weight: 600;
			color: rgba(255,255,255,.9);
		}
	}
}



/*********************************************
 * PRINT BACKGROUND
 *********************************************/
 
 @media print {

	.backgrounds {
		background-color: $lightGrey;
		color: $darkGrey;
	}

	.slides {

		.intro {
			background-color: $red;
		}

		.code {
			background-color: $purple;
		}

		.task {
			background-color: $yellow;
		}

		.discussion {
			background-color: $green;
		}

		.plain, .basic, .complex {
			.red    	{ background-color: $red; }
			.yellow 	{ background-color: $yellow; }
			.green  	{ background-color: $green; }
			.blue   	{ background-color: $blue; }
			.pink   	{ background-color: $pink; }
			.purple 	{ background-color: $purple; }
			.lightgrey  { background-color: $lightGrey; }
			.darkgrey   { background-color: $darkGrey; }
		}
	}
}